<?xml version="1.0" ?>
<launch>

    <!-- IMU -->
    <node
        pkg="tf2_ros"
        type="static_transform_publisher"
        name="base_link_to_imu0"
        args="0.094 0 -0.16 0 0 0 base_link imu_0"
    />

    <!-- DVL -->
    <node pkg="tf2_ros"
          type="static_transform_publisher"
          name="base_link_to_UNS"
          args="0 0 0.145 0 0 0 base_link uns_link"
    />

    <!-- <node pkg="tf2_ros"
          type="static_transform_publisher"
          name="base_link_to_UNS_ahrs"
          args="0 0 -0.145 0 0 3.14159 base_link uns_link_ahrs"
    /> -->

</launch> 